img#profile-img {
  transition: width 0.3s, height 0.3s, box-shadow 0.3s, border-radius 0.3s;
}

body.font-small img#profile-img {
  width: 120px !important;
  height: 120px !important;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body.font-normal img#profile-img {
  width: 150px !important;
  height: 150px !important;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
body.font-large img#profile-img {
  width: 180px !important;
  height: 180px !important;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
