.experience-item {
    margin-bottom: 20px;
    padding: 10px;
    background: #f9f9fb;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.experience-item:hover {
    transform: translateY(-20px) scale(1.05);
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
}
