.home {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.home.sticky {
  position: fixed;
  top: 0vh;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  padding: 5px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-radius: 0px;
  margin: 0px auto;
}

.home.sticky:hover {
  font-size: 1em;
  transform: translateY(0px) scale(1);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.home.sticky #me {
  display: none;
}

.home.sticky #me img {
  display: none;
}

.home.sticky #me-and-quote-div {
  width: 100%;
  font-size: 12px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home.sticky #quote-div {
  display: none;
}

.home.sticky .quotation-mark {
  width: 6px;
}

.home.sticky .tile {
  font-size: 8;
  padding: 2px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home.sticky .tile:hover {
  font-size: 0.88em;
  transform: translateY(0px) scale(1.05);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.home.sticky .tile-nav {
  gap: 2px;
  max-width: 100%;
  margin-top: 0px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding-left: 10vw;
  padding-right: 10vw;
}

#logo {
  display: none;
}

.home.sticky #logo {
  display: flex;
  width: 2vw;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.3s ease-in-out;
}

#me img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #42a5f5;
  margin-bottom: 20px;
  transition: all 0.3s ease-in-out;
}

.tile-nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  width: 100%;
  max-width: 800px;
  margin-top: 20px;
}

.tile {
  padding: 15px;
  background: linear-gradient(135deg, #42a5f5, #6dd5ed);
  color: #fff;
  border-radius: 12px;
  cursor: pointer;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s, font-size 0.3s;
  font-size: 13px;
}

.tile:hover {
  font-size: 0.88em;
  transform: translateY(-10px) scale(1.05);
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.3);
}

#me-and-quote-div {
  font-family: "Mea Culpa", cursive;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  transition: all 0.3s ease-in-out;
}

#quote-div,
#me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
  width: 40%;
  min-width: 200px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

#me {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#me:hover {
  transform: translateY(-20px) scale(1.05);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
}

#quote-div {
  padding-top: 30px;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

#quote-div:hover {
  font-size: 1.2em;
  transform: translateY(-20px) scale(1.05);
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
}

.quotation-mark {
  width: 10px;
}

#quotation-mark-left {
  transform: scaleX(-1);
  margin-top: 10px;
  margin-bottom: 9px;
  margin-right: 100%;
}

.author {
  margin-top: 10px;
  margin-left: 40%;
}

#quotation-mark-right {
  margin-top: 3px;
  margin-bottom: 10px;
  margin-left: 100%;
}

.icon-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.icon-tile img {
  height: 25px;
  width: auto;
}
